{% load static%}
<ul class="mainmenu">
    <li class="menu-item-has-children"><a href="{% url 'AppBlogInicio' %}">INICIO</a></li>
    <li class="menu-item-has-children"><a href="#">CATEGORIAS</a>
        <ul class="axil-submenu">
            <li>
                <a class="hover-flip-item-wrapper" href="index.html">
                    <span class="hover-flip-item">
                        <span data-text="Tecnologia">TECNOLOGIA</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="hover-flip-item-wrapper" href="/home-creative-blog.html">
                    <span class="hover-flip-item">
                        <span data-text="Programación">PROGRAMACIÓN</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="hover-flip-item-wrapper" href="/home-seo-blog.html">
                    <span class="hover-flip-item">
                        <span data-text="Diseño">DISEÑO</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="hover-flip-item-wrapper" href="/home-tech-blog.html">
                    <span class="hover-flip-item">
                        <span data-text="LoT">LoT</span>
                    </span>
                </a>
            </li>
        </ul>
    </li>
    {% if user.is_authenticated %}
    <li class="menu-item-has-children megamenu-wrapper"><a href="#">ADMINISTRACIÓN</a>
        <ul class="megamenu-sub-menu">
            <li class="megamenu-item">

                <!-- Start Verticle Nav  -->
                
                <!-- Start Verticle Nav  -->
                
                <!-- Start Verticle Menu  -->
                <div class="axil-vertical-nav-content">
                    <!-- Start One Item  -->
                    <div class="axil-vertical-inner tab-content" id="tab1" style="display: block;">
                        <div class="axil-vertical-single">
                            <div class="row">
                                <!-- Start Post List  -->
                                <div class="col-lg-3">
                                    <div class="content-block image-rounded">
                                        <div class="post-thumbnail mb--20">
                                            <a href="post-details.html">
                                                <img class="w-100" height="10px" src="/media/web/modificar.jpg" alt="CRUD">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="#">Usuarios</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Post List  -->

                                <!-- Start Post List  -->
                                <div class="col-lg-3">
                                    <div class="content-block image-rounded">
                                        <div class="post-thumbnail mb--20">
                                            <a href="#">
                                                <img class="w-100" src="/media/web/modificar.jpg" alt="CRUD">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="#">Categorias</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Post List  -->

                                <!-- Start Post List  -->
                                <div class="col-lg-3">
                                    <div class="content-block image-rounded">
                                        <div class="post-thumbnail mb--20">
                                            <a href="#">
                                                <img class="w-100" src="/media/web/modificar.jpg" alt="CRUD">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="{% url 'AppBlogEstado' %}">Estados</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Post List  -->

                                <!-- Start Post List  -->
                                <div class="col-lg-3">
                                    <div class="content-block image-rounded">
                                        <div class="post-thumbnail mb--20">
                                            <a href="#">
                                                <img class="w-100" src="/media/web/modificar.jpg" alt="CRUD">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="#">Tags</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Post List  -->

                                <!-- Start Post List  -->
                                <div class="col-lg-3">
                                    <div class="content-block image-rounded">
                                        <div class="post-thumbnail mb--20">
                                            <a href="#">
                                                <img class="w-100" src="/media/web/modificar.jpg" alt="CRUD">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="#">Mis Post</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Post List  -->

                            </div>
                        </div>
                    </div>
                    <!-- End One Item  -->
                </div>
                <!-- End Verticle Menu  -->
                
            </li>
        </ul>
    </li>
    {% endif %}
    <li><a href="{% url 'AppBlogAboutme' %}">ACERCA DE MÍ</a></li>
    <li><a href="{% url 'AppBlogContacto' %}">CONTACTO</a></li>
</ul>